
*{
    margin: 0px;
    padding: 0px;
}


body {

}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 70px;
    padding: 10px;
}



#menu-oculto{
    display: flex;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(243, 183, 161));
    justify-content: space-evenly;
    align-items: center;
    
}

#menu-oculto a{
    text-decoration: none;
    color: rgb(245, 95, 40);
    font-family: "Lato", sans-serif;
}



.area1{
background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(243, 183, 161));
color:black;
width: 100%;
height: 400px;
}

.titulo-area1{
    display: flex;
    
    justify-content: flex-start;
    font-size: 3rem;
    padding-left: 5rem;
    padding-top: 5rem;
    font-weight: 100;
    /*color: rgb(163, 157, 157);*/
    background-image: linear-gradient(to bottom, rgb(37, 36, 37), rgb(123, 124, 124), rgb(192, 204, 203));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(163, 157, 157);
    text size: 3rem;
    
}

.area1 div{
    display: inline-flex;
    width: 250px;
    height: 250px;
    background-color: rgb(231, 94, 8);
    color: white;
    border-radius: 15px;
    margin-left: 100px;
    margin-bottom: 100px;
  

}



.input{
    width: 160px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 70px
}



.area2{
    background: black;
    color: white;
    width: 100%;
    height: 450px;
}

.imagem-area2{
    width: 100%;
}

.area3{
    width: 100%;
    height: 700px;
}

.area4{
    background: black;
    color: white;
    width: 100%;
    height: 800px;
}

.area5{
    
}

.area6{
    width: 100%;
    height: 1000px;
}

footer {
    background: black;
    color: white;
    text-align: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    text-align: center;
}

.formulario input{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contato{
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.contato form{
    display: flex;
    margin: auto;
    padding: 40px;
}