
*{
    margin: 0px;
    padding: 0px;
}


body {
    width: 165vh;
}

header {
    position: fixed;
    width: 123%;
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 70px;
    padding: 10px;
}



#menu-oculto{
    display: flex;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(250, 233, 221));
    justify-content: space-evenly;
    align-items: center;
    width: 123%;
    
    
}

#menu-oculto a{
    text-decoration: none;
    color: rgb(245, 95, 40);
    font-family: "Lato", sans-serif;
}



.area1{
    
    display: inline;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    /*background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(245, 206, 192));*/
    color:black;
    width: 123%;
    height: 400px;
    margin-top: 10%;
}

.titulo-area1{
    
    font-size: 3rem;
    padding-left: 8rem;
    padding-top: 5rem;
    font-weight: 100;
    /*color: rgb(163, 157, 157);*/
    background-image: linear-gradient(to bottom, rgb(218, 218, 218), rgba(245, 95, 40), rgb(231, 121, 71));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(163, 157, 157);
    
    font-family: "Lato", sans-serif;
    
    
}

.area1 h4 {
    justify-content: flex-start;
    padding-left: 8rem;
    padding-top: 2rem;
    color: rgb(163, 157, 157);
    font-weight: 100;
}

.button {
    border-radius: 20px;
    padding: 10px;
    margin-left: 8rem;
    margin-top: 7rem;
    border: none;
    text-decoration: none;
    color: rgb(150, 141, 141);
    padding: 1rem;
    background-image: linear-gradient(to bottom, rgb(241, 116, 13), rgba(245, 95, 40), rgb(231, 121, 71));
    color: aliceblue;
}

.button:hover {
    
    color: rgb(150, 141, 141);
}

.main-area-1 {
    display: flex;
    width: 123%;
    height: 100vh;
    background-color: rgb(247, 240, 231);
    

}


/*.area1 div{
    display: inline-flex;
    width: 250px;
    height: 250px;
    background-color: rgb(231, 94, 8);
    color: white;
    border-radius: 15px;
    margin-left: 100px;
    margin-bottom: 100px;
  

}*/

.img-area1 {
    margin-top: 10%;
    margin-right: 10%;
    
    
}

.img-area1-1 {
    
}



.input{
    width: 160px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 70px
}



.area2{
    
    color: white;
    width: 123%;
    height: 400px;
}

.imagem-area2{
    width: 100%;
}

.area3{
    width: 123%;
    height: 400px;
}

.area4{
    background: black;
    color: white;
    width: 123%;
    height: 400px;
}

.area5{
    width: 123%;
    height: 400px;
    
}

.area6{
    width: 123%;
    height: 400px;
}



.formulario{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    text-align: center;
}

.formulario input{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contato{
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.contato form{
    display: flex;
    margin: auto;
    padding: 40px;
}

footer {
    display: flex;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(250, 233, 221));
    justify-content: space-evenly;
    align-items: center;
    color: rgb(163, 157, 157);
    bottom: 0;
    left: 0;
    width: 123%;
}
    
/*Quem Somos*/

.titulo-area1-quemsomos {
    
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;
    font-weight: 100;
    /*color: rgb(163, 157, 157);*/
    background-image: linear-gradient(to bottom, rgb(218, 218, 218), rgba(245, 95, 40), rgb(231, 121, 71));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(163, 157, 157);
    
    font-family: "Lato", sans-serif;

}

.main-area-1-quemsomos {
    display: flex;
    width: 124.4%;
    height: 94vh;
    background-color: rgb(247, 240, 231);
    

}

.conteudo-quemsomos {
    display: flex;
    
}

.conteudo-quemsomos h4 {
    margin: 1rem;
}

.footer-quem-somos {
    width: 124.4%;
}